html {
    background-color:grey;
    padding: 0px;
    margin: 0px;
    font-family: Arial;
}

header {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
  }

  
/*NAVBAR*/

#cabecalho {
    background-color: rgb(57, 46, 67);
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
}

#titulo {
    color: rgb(177, 177, 177);
    font-weight: 800;
    text-decoration: none;
}

.linka {
    text-decoration: none;
}

/*CAROUSEL*/

